* {margin:0; padding:0;}
img, fieldset {border:0;}
*:focus {outline: none;}
a, a:visited {color:#004276; text-decoration:none;}
a:hover {text-decoration:none;}
table {border-collapse:collapse;}
ul {list-style:none;}